
## Test Results for milikhatri

### Playwright
- Total tests: 20
- Passed tests: 20

### LightHouse

- Performance score: 75
- Accessibility score: 92
- Best practices score: 100
- SEO score: 92
- Average Lighthouse score: 90
