@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;900&family=Raleway:wght@400;500;600;900&display=swap');

body {
    background-color: #F5F5F5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.menu-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-right: 100px;
    color: #000000;
    text-decoration: none;
}

.menu-item:last-child {
    margin-right: 0;
    /* Remove right margin for the last menu item */
}

.navbar {
    margin-left: 74px;
    margin-right: 74px;
    display: flex;
    justify-content: space-between;
    /* Align items in the navbar horizontally */
    align-items: center;
    /* Vertically center items in the navbar */
}

.menu {
    display: flex;
    justify-content: flex-end;
    /* Align items in the menu to the right */
}

@media (min-width: 769px) {
    .menu-button {
        display: none;
        /* Hide the menu button in desktop view */
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
        /* Hide the menu items by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust the top position as needed to align with the navbar */
        right: 0;
        background-color: #fff;
        /* Background color for the dropdown */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        /* Add a shadow for the dropdown */
        z-index: 1;
        /* Ensure the dropdown is on top of other content */
    }

    .menu-button {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px;
        /* Adjust the font size as needed */
        margin-right: 10px;
        /* Add some spacing between the button and logo */
    }

    .menu-button::after {
        content: '▼';
        /* Display a down arrow to indicate the dropdown */
        margin-left: 10px;
        /* Adjust the spacing as needed */
    }

    .menu-open .menu {
        display: flex;
        /* Show the menu items when the button is clicked */
    }
}

.hero-text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 96px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 250px;
    flex: 1;
}

.sub-text {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

.drawing {
    margin-top: 30px;
    margin-left: 100px;
    position: relative;
    width: 403px;
    height: 403px;
    margin-right: 15%;
}

.circles {
    width: 403px;
    height: 403px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.rounded-image {
    display: block;
    width: 403px;
    height: 403px;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.circle {
    width: 403px;
    height: 403px;
    border-radius: 50%;
    background-color: #0071A7;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        margin: 3em;
    }

    .hero-text {
        margin-left: 0;
        text-align: left;
    }

    .hero-text h1 {
        font-size: 70px;
    }

    .drawing {
        display: none;
    }

    .media-section {
        flex-direction: column;
        text-align: center;
    }

    .media-content {
        margin-left: 0;
        margin-top: 20px;
    }
}

.container {
    justify-content: space-between;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin-left: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.content {
    display: flex;
    gap: 50px;
    margin: 2em auto;
    /* Adjust margin as needed */
    justify-content: center;
    /* Center the content horizontally */
}

.rectangleMain {
    color: white;
    background-color: #0071A7;
    border-radius: 20px;
    padding: 20px;
    width: 450px;
}

.subTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.subText {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

#rightArrowTop {
    height: 125px;
    margin-top: 50px;
}

.rectangleSecond {
    color: white;
    background-color: #9B59B6;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    /* Take up 100% width of the parent container */
}

.skillTab {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

.skills-container-lang {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* Adjust the space between skills as needed */
}

.skills {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    margin-bottom: 15px;
}

.link {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
}

#linkSecond {
    color: #000000;
}


#rightArrowDown {
    height: 125px;
    margin-top: 70px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    /* Adjust the space between skills as needed */
}

@media (max-width: 768px) {
    .title {
        font-size: 65px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        /* Adjust the space between elements as needed */
    }

    .rectangleMain,
    .rectangleSecond {
        width: 75%;
        /* Take up the full width */
    }

    #rightArrowTop {
        transform: rotate(90deg);
        /* Rotate the image 90 degrees clockwise */
        margin-top: 0;
        /* Adjust the margin as needed */
    }

    .skills-container-lang {
        justify-content: center;
        /* Center the skills container horizontally */
    }

    #rightArrowDown {
        transform: rotate(90deg);
        /* Rotate the image 90 degrees clockwise */
        margin-top: 0;
        /* Adjust the margin as needed */
    }

    .skills-container {
        justify-content: center;
    }

}

.containerTwo {
    justify-content: space-between;

}

.contentTwo {
    display: flex;
    gap: 50px;
    margin: 2em auto;
    /* Adjust margin as needed */
    justify-content: center;
    /* Center the content horizontally */
}

.contentTwo>* {
    margin-bottom: 10px;
    /* Adjust the top and bottom margin to control the gap between rows */
}

.rectangle {
    background-color: #2ECC71;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    width: 400px;
}

.skillTab {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

.skills-containerTwo {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* Adjust the space between skills as needed */
}

.skills {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    margin-bottom: 15px;
}

#leftArrow {
    height: 90px;
    margin-top: 70px;
}

.rectangleTwo {
    background-color: #F1C40F;
    border-radius: 20px;
    padding: 20px;
    width: 450px;
    height: fit-content;

}

.subTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.subText {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .contentTwo {
        flex-direction: column;
        align-items: center;
        text-align: center !important;
        gap: 20px;
        /* Adjust the space between elements as needed */
    }

    .rectangleTwo {
        order: 1;
        /* Place rectangleTwo first */
        width: 75%;
        /* Take up the full width */
    }

    #leftArrow {
        order: 2;
        /* Place the leftArrow second */
        transform: rotate(-90deg);
        /* Rotate the image 90 degrees counterclockwise */
        margin-top: 0;
        /* Adjust the margin as needed */
    }

    .rectangle {
        order: 3;
        /* Place the rectangle (originally rectangleMain) third */
        width: 75%;
        /* Take up the full width */
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-left: 7em;
    padding-right: 7em;
    margin-bottom: 10px;
}

.column1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
}

.column {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
}

.columnHead {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.footer-link {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    /* Link text color */
    display: flex;
    text-decoration: none;
}

.envelope-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.newsletter-form {
    display: inline-block;
}

.emailIn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 50px;
    text-align: left;
    text-decoration: none;
    background-color: #0071A7;
    border-right: 30px;
    margin-right: 35px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 15px;
}

::placeholder {
    color: white;
    opacity: 1;
}

.button {
    display: block;
    padding: 15px 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #F1C40F;
    color: black;
    border-right: 30px;
    margin-right: 35px;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 13px;
}