@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;900&family=Raleway:wght@400;500;600;900&display=swap');

  
body {
    background-color: #F5F5F5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.menu-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-right: 100px;
    color: #000000;
    text-decoration: none;
}
.menu-item:last-child {
    margin-right: 0; /* Remove right margin for the last menu item */
}
.navbar {
    margin-left: 74px;
    margin-right: 74px;
    display: flex;
    justify-content: space-between; /* Align items in the navbar horizontally */
    align-items: center; /* Vertically center items in the navbar */
}

.menu {
    display: flex;
    justify-content: flex-end; /* Align items in the menu to the right */
}

@media (min-width: 769px) {
    .menu-button {
        display: none; /* Hide the menu button in desktop view */
    }
}
@media (max-width: 768px) {
    .menu {
        display: none; /* Hide the menu items by default */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust the top position as needed to align with the navbar */
        right: 0;
        background-color: #fff; /* Background color for the dropdown */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Add a shadow for the dropdown */
        z-index: 1; /* Ensure the dropdown is on top of other content */
    }

    .menu-button {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px; /* Adjust the font size as needed */
        margin-right: 10px; /* Add some spacing between the button and logo */
    }

    .menu-button::after {
        content: '▼'; /* Display a down arrow to indicate the dropdown */
        margin-left: 10px; /* Adjust the spacing as needed */
    }

    .menu-open .menu {
        display: flex; /* Show the menu items when the button is clicked */
    }
}


.container {
    display: flex;
    justify-content: center; /* Center horizontally on the page */
    align-items: center; /* Center vertically on the page */
}
.image-content {
    margin-left: 18%; /* 2/3 of the page width */
}
#mainPic {
    width: 743px;
    height: auto;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 128px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.break-word {
    white-space: pre-wrap;
}

.sub-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

.button-filled {
    margin-top: 15px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: #F1C40F;
    color: black;
    border-right: 30px;
    margin-right: 35px;
    font-size: 23px;
}

.links a {
    color: navy;
    font-size: 3rem;
    text-decoration: none;
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center; /* Center horizontally on small screens */
        text-align: center; /* Center text horizontally on small screens */
    }
    .image-content {
        margin: 0; /* Reset margin on small screens */
    }
    #mainPic {
        width: 80%; /* Make the image responsive to the container width */
        height: auto;
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
    }
    .hero h1 {
        font-size: 60px; /* Reduce the font size for smaller screens */
    }
    .sub-text {
        font-size: 24px; /* Reduce the font size for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }
    .button-filled {
        margin-top: 10px; /* Adjust top margin for smaller screens */
        padding: 10px 20px; /* Adjust padding for smaller screens */
        border-radius: 25px; /* Reduce border-radius for smaller screens */
        margin-right: 0; /* Reset margin for smaller screens */
        font-size: 18px; /* Reduce font size for smaller screens */
    }
    .links a {
        font-size: 2rem; /* Reduce font size for smaller screens */
        margin-right: 5px; /* Adjust margin for smaller screens */
    }
}